header {
  padding: 1em 0 2px 0;
  background-color: white;
  z-index: 999;
  width: 100%;
}

header .follow span {
  font-size: 18px;
  text-transform: uppercase;
}

header .isocial {
  margin-top: 10px;
}

header .isocial i {
  font-size: 20px;
}

header .isocial i:hover {
  color: red;
}

header .logo {
  margin-top: 20px;
  width: 40%;
  margin: 1em auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .logo img {
  width: 100%;
  height: auto;
}

header ul {
  margin-top: 1em;
  padding: 0px;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 4px;
}

header ul li a {
  color: black;
  font-size: 15px;
}

header ul li a i {
  font-size: 18px;
  margin-right: 3px;
}

header ul li a span.num {
  position: absolute;
  margin-left: -3px;
  margin-top: -12px;
  line-height: 15px;
  background: #111;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}

header ul li.cart {
  margin-right: 1em;
}

header ul li:hover > a {
  text-decoration: none;
  color: gray;
}

header ul.search {
  padding: 0px;
  float: right;
}

header ul.search li {
  list-style: none;
  display: inline-block;
}

header ul.search li input {
  outline: none;
  border: 0;
  border-bottom: 1px solid;
  width: 100%;
}

header ul.search li input:focus {
  outline: none;
}

header ul.search li a {
  position: relative;
  left: -30px;
}

main .sapxep {
  float: right;
  width: 15% !important;
}

main .sapxep select {
  width: 100% !important;
}

main .menu {
  padding: 0px !important;
}

main .menu .navbar-default .navbar-collapse, main .menu .navbar-default .navbar-form {
  background-color: #111111 !important;
  padding: 0px;
}

main .menu .navbar-default .navbar-collapse ul li a, main .menu .navbar-default .navbar-form ul li a {
  color: white;
  text-transform: uppercase;
}

main .menu .navbar-default .navbar-collapse ul li ul, main .menu .navbar-default .navbar-form ul li ul {
  background-color: #111111;
}

main .menu .navbar-default .navbar-collapse ul li ul li a, main .menu .navbar-default .navbar-form ul li ul li a {
  color: white;
  text-transform: uppercase;
}

main .menu .navbar-default .navbar-collapse ul li:hover, main .menu .navbar-default .navbar-form ul li:hover {
  background-color: #ff0000;
}

main .menu .navbar-default .navbar-collapse ul .active, main .menu .navbar-default .navbar-form ul .active {
  background-color: #ff0000;
}

main .menu .navbar-default .navbar-nav > .active > a, main .menu .navbar-default .navbar-nav > .active > a:focus, main .menu .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ff0000;
  color: white;
}

main .menu .navbar-default .navbar-nav > .open > a, main .menu .navbar-default .navbar-nav > .open > a:focus, main .menu .navbar-default .navbar-nav > .open > a:hover {
  background-color: #ff0000;
  color: white;
}

main .menu .dropdown-menu > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: #ff0000;
}

main .list-product {
  margin-top: 9em;
}

main .list-product .menu-phu {
  padding-left: 1em;
}

main .list-product .menu-phu a {
  color: black;
}

main .list-product .menu-phu span {
  color: black;
  font-size: 12px;
  margin-left: 1px;
  margin-right: 1px;
}

main .list-product .item {
  padding: 0px !important;
}

main .list-product .item .item-product {
  padding: 10px;
}

main .list-product .item .item-product img {
  width: 100%;
  height: auto;
}

main .list-product .item .item-form {
  margin: 10px 0 0 0;
  text-align: center;
}

main .list-product .item .item-form a {
  display: block;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

main .list-product .item .item-form a.price {
  margin-top: 5px;
  font-weight: 600;
  font-size: 17px;
}

footer {
  padding-top: 12px;
}

footer hr {
  border: 0.4px solid;
}

footer .dangky {
  text-align: center;
}

footer .dangky span {
  text-transform: uppercase;
}

footer .dangky input {
  width: 27%;
  padding: 5px;
  margin-left: 10px;
}

footer .dangky button {
  width: 10%;
  text-align: center;
  text-transform: uppercase;
}

footer .menu-footer {
  padding: 1em 0 0 0;
}

footer .menu-footer ul {
  text-align: center;
  padding: 0px;
}

footer .menu-footer ul li {
  list-style: none;
  display: inline;
  margin: 0 5px 0 5px;
}

footer .menu-footer ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
}

footer .menu-footer ul span {
  color: black;
  text-transform: uppercase;
}

footer .menu-footer .isocial {
  margin: 10px 0 10px 0;
  text-align: center;
}

footer .menu-footer .isocial i {
  font-size: 20px;
}

footer .menu-footer .isocial i:hover {
  color: red;
}

footer .menu-footer .end-footer {
  text-align: center;
  margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  main .sapxep {
    float: right;
    width: 20% !important;
  }
  header ul.search {
    margin-top: -34px;
  }
  .dangky button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  main .sapxep {
    float: right;
    width: 35% !important;
  }
  header .isocial {
    margin-top: -35px;
    /* float: right; */
    position: absolute;
    /* float: right; */
    margin-left: 24em;
  }
  header .follow span {
    font-size: 11px;
    text-transform: uppercase;
  }
  header ul.search {
    position: relative;
    margin-top: 0em;
  }
  footer .dangky {
    text-align: center;
    font-size: 12px;
  }
  .dangky button {
    font-size: 10px;
  }
  footer .menu-footer ul li a {
    font-size: 11px;
  }
}

@media only screen and (max-width: 375px) {
  main .sapxep {
    float: right;
    width: 40% !important;
  }
  header .isocial {
    margin-top: -35px;
    /* float: right; */
    position: absolute;
    /* float: right; */
    margin-left: 23em;
  }
  header .follow span {
    font-size: 11px;
    text-transform: uppercase;
  }
  header ul.search {
    position: relative;
    margin-top: 0em;
  }
  footer .dangky {
    text-align: center;
    font-size: 12px;
  }
  .dangky button {
    font-size: 10px;
  }
  footer .menu-footer ul li a {
    font-size: 11px;
  }
}

@media only screen and (max-width: 320px) {
  main .sapxep {
    float: right;
    width: 50% !important;
  }
  header .isocial {
    margin-top: -35px;
    /* float: right; */
    position: absolute;
    /* float: right; */
    margin-left: 24em;
  }
  header .follow span {
    font-size: 11px;
    text-transform: uppercase;
  }
  header ul.search {
    position: relative;
    margin-top: 0em;
  }
  footer .dangky {
    text-align: center;
    font-size: 12px;
  }
  .dangky button {
    font-size: 10px;
  }
  footer .menu-footer ul li a {
    font-size: 11px;
  }
}
/*# sourceMappingURL=sanphammoi.css.map */